@import '~src/styles/global/colors';

.alert {
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 0.9rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &.alert-danger {
    background: $danger;
    color: white;
  }
}
