<app-page-header title="Workout App" subtitle="Workout log">
</app-page-header>

<div class="container main-content">

  <h1>{{currentUserName}}, track your workout!</h1>

  <ng-container *ngIf="loading; then loader; else loaded"></ng-container>

  <ng-template #loader>
    <app-loader *ngIf="loading"></app-loader>
  </ng-template>

  <ng-template #loaded>
    <app-add-log-form (onWorkoutLogCreated)="insertWorkoutLog($event)"></app-add-log-form>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Workout</th>
        </tr>
      </thead>
      <tr *ngFor="let log of workoutLogs">
        <td>{{log.date | date:'dd/MM/yyyy'}}</td>
        <td>{{log.workout.name}}</td>
      </tr>
      <tr *ngIf="workoutLogs && !workoutLogs.length">
        <td colspan="4">no logged workouts found</td>
      </tr>
    </table>


  </ng-template>

</div>
