@import '~src/styles/global/_colors';

.form-group {
  margin-bottom: 30px;
}

input:not([type='submit']):not([type='reset']),
select {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px 10px;
  line-height: 30px;
  min-width: 300px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  &:after {
    content: '';
    position: absolute;
    right: 20px;
    top: 40%;
    z-index: 1;
    text-align: center;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid $theme-color;
    pointer-events: none;
  }
}

.invalid-feedback {
  color: $danger;
  font-size: 0.8rem;
  margin-top: 10px;
}

label {
  display: block;
}
