.wrapper {
  margin-top: 80px;
}

input:not([type='submit']):not([type='reset']) {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 10px;
  line-height: 30px;
}
input[type='text'] {
  min-width: 300px;
}

label {
  display: block;
}
