@import '~src/styles/global/_colors';

.header {
  background-color: $theme-color;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.subheader {
  background-color: $accent-color;
  font-weight: bold;
  font-style: italic;
}
