<div class="wrapper">
  <h2>Log new workout</h2>
  <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

    <div class="row">
      <div class="form-group col-3">
        <label for="date">Date:</label>
        <input class="form_group" name="date" id="date" value="" type="date" required [(ngModel)]="date" #d="ngModel">
        <div *ngIf="f.submitted && d.invalid" class="invalid-feedback">
          <div *ngIf="d.errors.required">
            Date is required
          </div>
        </div>
      </div>

      <div class="form-group col-3">
        <label for="workoutId">Workout: </label>
        <div class="select-wrapper">
          <select class="form-control" name="workoutId" id="workoutId" required [(ngModel)]="workoutId" #workout="ngModel">
            <option [value]="xx" selected disabled>Choose here</option>
            <option *ngFor="let wor of workouts" [value]="wor._id">{{wor.name}}</option>
          </select>
        </div>
        <div *ngIf="f.submitted && workout.invalid" class="invalid-feedback">
          <div *ngIf="workout.errors.required">
            Workout is required
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div>
        <input value="Submit" type="submit" class="button button-primary">
      </div>
    </div>

  </form>
</div>
