<div class="login_wrapper">
  <div class="login_inner">
    <div class="login_logo">
      <img src='src/assets/images/logo_full.png' alt="title" />
      <h1>Workout App</h1>
    </div>

    <form (ngSubmit)="onSubmit()" #f="ngForm" class="form_login">
      <div>
        <label for="username">Email</label>
        <input type="email" name="email" placeholder="Your email" id="email" required [(ngModel)]="user.email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Your password" id="password" required [(ngModel)]="user.password" />
      </div>
      <div>
        <input type="submit" value="Log In" class="button button-primary" />
        <a [routerLink]="[backurl]" class="button button-secondary">Back to app</a>
      </div>
    </form>
    <a [routerLink]="['/register']">New user? Register here</a>
  </div>

</div>
<footer class="footer">Created by: Garrett Shirley, Vojtech Rychnovsky, Cuong Nguyen</footer>
