<div class="login_wrapper">
  <div class="login_inner">
    <div class="login_logo">
      <img src='src/assets/images/logo.png' alt="title" />
      <h1>Workout App</h1>
    </div>

    <form action="/" class="form_login">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Your name" id="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Your password" id="password" />
      </div>
      <div>
        <input type="submit" value="Log In" class="button button-primary" />
      </div>
    </form>
  </div>

</div>
<footer class="footer">Created by: Garrett Shirley, Vojtech Rychnovsky, Cuong Nguyen</footer>
