@import '~src/styles/global/colors';

.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
  table {
    tbody tr:hover {
      background: #fff;
    }
    a {
      display: block;
    }
  }
}
