@import '~src/styles/global/colors';

.main-content {
  padding-top: 50px;
  padding-bottom: 50px;
  table {
    width: 100%;
    border-collapse: collapse;
    thead tr {
      background: $theme-color;
      color: #fff;
    }
    tbody tr:hover {
      background: #fff;
    }
    th,
    td {
      border: 1px solid;
      padding: 10px;
      text-align: center;
    }
    a {
      display: block;
    }
  }
}
