<app-page-header title="Workout App" subtitle="List of workouts">
</app-page-header>

<div class="container main-content">

  <h1 *ngIf="isLoggedIn">Welcome {{currentUserName}}!</h1>

  <ng-container *ngIf="loading; then loader; else loaded"></ng-container>

  <ng-template #loader>
    <app-loader *ngIf="loading"></app-loader>
  </ng-template>

  <ng-template #loaded>
    <table>
      <tr *ngFor="let workout of workouts">
        <td><a [routerLink]="['/workout', workout._id]">{{workout.name}}</a></td>
      </tr>
    </table>

    <app-add-workout-form *ngIf="isLoggedIn" (onWorkoutCreated)="insertWorkout($event)"></app-add-workout-form>

    <p *ngIf="!isLoggedIn">You must be logged in to add new workout programs - <a [routerLink]="['/login']"
        [queryParams]="{return: redirecturl}">login
        now</a></p>
  </ng-template>

</div>
