<app-page-header title="Workout App" subtitle="Workout detail">
</app-page-header>

<div class="container main-content">

  <a routerLink="/workouts">Back to Workouts</a>
  <h1 *ngIf="workout">{{workout.name}}</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Number Per Set</th>
        <th>Number of Sets</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let excercise of excercises">
        <td>{{excercise.name}}</td>
        <td>{{excercise.description}}</td>
        <td>{{excercise.set}}</td>
        <td>{{excercise.duration}}</td>
      </tr>
      <tr *ngIf="excercises && !excercises.length">
        <td colspan="4">no excercises found</td>
      </tr>
    </tbody>
  </table>

  <app-add-excercise-form></app-add-excercise-form>

</div>
