/* You can add global styles to this file, and also import other style files */
@import '~src/styles/global/_colors';
@import '~src/styles/global/_forms';
@import '~src/styles/global/_buttons';
@import '~src/styles/global/_tables';

/* Reset styles */
* {
  box-sizing: border-box;
}

/* General styles */
body {
  font: 16px 'Poppins', 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: $bg-body;
}

a {
  color: inherit;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1px 5px;
}

// bootstrap-like layout
.row {
  display: flex;
}
.col {
  flex: 1;
  padding: 0 5px;
}
.col-2 {
  @extend .col;
  max-width: 50%;
}
.col-3 {
  @extend .col;
  max-width: 33.3%;
}
.col-4 {
  @extend .col;
  max-width: 25%;
}
