<div class="login_wrapper">
  <div class="login_inner">
    <div class="login_logo">
      <img src='src/assets/images/logo_full.png' alt="title" />
      <h1>Workout App</h1>
    </div>
    <h2>Register new account</h2>

    <form (ngSubmit)="onSubmit()" #f="ngForm" class="form_login">
      <div>
        <label for="username">First name</label>
        <input type="text" name="firstname" placeholder="First name" id="firstname" required [(ngModel)]="user.firstName" />
      </div>
      <div>
        <label for="username">Surname</label>
        <input type="text" name="surname" placeholder="Surname" id="surname" required [(ngModel)]="user.surName" />
      </div>
      <div>
        <label for="username">Email</label>
        <input type="email" name="email" placeholder="Your email" id="email" required [(ngModel)]="user.email" email />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Your password" id="password" required [(ngModel)]="user.password" />
      </div>
      <div>
        <button type="submit" class="button button-primary">Register</button>
      </div>
    </form>
    <a [routerLink]="['/login']">Already have an account? Log in here</a>
  </div>

</div>
<footer class="footer">Created by: Garrett Shirley, Vojtech Rychnovsky, Cuong Nguyen</footer>
